In [6]:
from glassdoor_scraper import get_data

In [11]:
df=get_data('Data Analyst',3)

The  Scraping Page Number:  1
The  Scraping Page Number:  2

In [13]:
df.head(10)

                     Company Rating  ...                 Salary_Range Posted_Time
0              Wipro Limited    3.7  ...   ₹4L - ₹6L (Glassdoor Est.)         24h
1                   Deloitte    4.1  ...   ₹6L - ₹8L (Glassdoor Est.)         27d
2  Spry Therapeutics pvt ltd    Nil  ...    ₹4L - ₹5L (Employer Est.)          9d
3                  Nest Tech    Nil  ...    ₹3L - ₹6L (Employer Est.)        30d+
4                 Merilytics    Nil  ...  ₹5L - ₹10L (Glassdoor Est.)        30d+
5                         EY    3.9  ...   ₹4L - ₹6L (Glassdoor Est.)         24h
6      Everest Fleet Pvt Ltd    4.3  ...  ₹14T - ₹20T (Employer Est.)          5d
7           8848 Digital LLP    Nil  ...    ₹7L - ₹9L (Employer Est.)         10d
8                     Omnify    2.3  ...                          Nil          2d
9                  Nest Tech    Nil  ...    ₹3L - ₹7L (Employer Est.)        30d+

[10 rows x 6 columns]